html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}

#userhello{
  padding-right: 15px;
}

.form-box {
	background: rgb(145,85,219); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(145,85,219,1) 0%, rgba(103,83,216,1) 50%, rgba(145,85,219,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(145,85,219,1) 0%,rgba(103,83,216,1) 50%,rgba(145,85,219,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(145,85,219,1) 0%,rgba(103,83,216,1) 50%,rgba(145,85,219,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9155db', endColorstr='#9155db',GradientType=0 ); /* IE6-9 */
}

.form-wizard {
/*	padding: 25px; */
	background: #fff;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	border-radius: 4px; 
	box-shadow: 0px 0px 6px 3px #777;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
}
	
.form-wizard strong { font-weight: 500; }

.form-wizard a, .form-wizard a:hover, .form-wizard a:focus {
	color: #ddd;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.form-wizard h1, .form-wizard h2 {
	margin-top: 0px;
	font-size: 22px;
    font-weight: 300;
    color: #333;
    line-height: 50px;
}

.form-wizard h3 {
	font-size: 25px;
    font-weight: 300;
    color: #ddd;
    line-height: 30px;
	margin-top: 0; 
	margin-bottom: 5px; 
	text-transform: uppercase; 
}

.modelseriestext{
    padding-left: 15px;
}
.configurationtext{
  padding-left: 30px;
}

#logout{
  position: absolute;
}

#logout:hover{
  color: red;
}

.thankyoudiv{
  color: green;
  text-align: center;

  position: relative;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);

}



.form-wizard h4 {
	/*float:left;*/
	font-size: 22px;
    font-weight: 300;
    color: #333333;
	width:100%;
}
.form-wizard h4  span{
	float:right;
	font-size: 18px;
    font-weight: 300;
    color: #555;
    line-height: 26px;
}


.form-wizard img { max-width: 100%; }

.form-wizard ::-moz-selection { background: #ddd; color: #fff; text-shadow: none; }
.form-wizard ::selection { background: #ddd; color: #fff; text-shadow: none; }


.form-control {
	height: 44px;
	width:100%;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #ddd;
    font-size: 16px;
    font-weight: 300;
    line-height: 44px;
    color: #888;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"] {
	position: absolute;
	margin-top: 9px;
	margin-left: -20px;
}

.form-control option:hover, .form-control option:checked  {
    box-shadow: 0 0 10px 100px #ddd inset;
}

.form-control:focus {
	outline: 0;
	background: #fff;
    border: 1px solid #ccc;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

.form-control:-moz-placeholder { color: #888; }
.form-control:-ms-input-placeholder { color: #888; }
.form-control::-webkit-input-placeholder { color: #888; }

.form-wizard label { 
    display: table;
    font-weight: 300; 
    padding-left: 15px;
    padding-right: 15px;
    word-wrap: break-word;
    text-align: left;
    width: 100%;
}
.form-wizard label span { color:#ddd; }


.form-wizard .btn {
	min-width: 105px;
	height: 40px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    border: 0;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 40px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.form-wizard .btn:hover {
	background:#f34727; 
	color: #fff; 
	}
.form-wizard .btn:active { 
	outline: 0; 
	background:#f34727; 
	color: #fff; 
	-moz-box-shadow: none; 
	-webkit-box-shadow: none; 
	box-shadow: none; 
	}
.form-wizard .btn:focus,
.form-wizard .btn:active:focus,
.form-wizard .btn.active:focus { 
	outline: 0; 
	background:#f34727; 
	color: #fff; 
}

.form-wizard .btn.btn-next,
.form-wizard .btn.btn-next:focus,
.form-wizard .btn.btn-next:active:focus, 
.form-wizard .btn.btn-next.active:focus { 
background: #ddd; 
}

.form-wizard .btn.btn-submit,
.form-wizard .btn.btn-submit:focus,
.form-wizard .btn.btn-submit:active:focus, 
.form-wizard .btn.btn-submit.active:focus { 
background: #ddd; 
}

.form-wizard .btn.btn-previous,
.form-wizard .btn.btn-previous:focus,
.form-wizard .btn.btn-previous:active:focus, 
.form-wizard .btn.btn-previous.active:focus { 
background: #bbb;
}

.form-wizard .success h3{
	color: #4F8A10;
	text-align: center;
	margin: 20px auto !important;
}
.form-wizard .success .success-icon {
	color: #4F8A10;
	font-size: 100px;
	border: 5px solid #4F8A10;
	border-radius: 100px;
	text-align: center !important;
	width: 110px;
	margin: 25px auto;
}
.form-wizard .progress-bar {
	background-color: #ddd;
}

.form-wizard-steps{ 
	margin:auto; 
	overflow: hidden; 
	position: relative; 
}

.form-wizard-progress { 
    position: absolute;
    top: 24px;
    left: 0;
    width: 75%;
    border: 1px dashed rgba(255, 255, 255, 0.6);
    right: 0;
    margin: 0 auto;
}
.form-wizard-progress-line { 
	position: absolute; 
	top: -1px; 
	left: 0; 
	border: 1px dashed #fff;
}

.form-wizard-tolal-steps-3 .form-wizard-step { 
	position: relative;.form-wizard-progress
	float: left; 
	width: 33.33%; 
	padding: 0 5px; 
}
.form-wizard-tolal-steps-4 .form-wizard-step { 
	position: relative; 
	float: left; 
	width: 25%; 
	padding: 0 5px; 
}
.form-wizard-tolal-steps-5 .form-wizard-step { 
	position: relative;
	float: left;
	width: 20%;
	padding: 0 5px;
}

.form-wizard-step-icon {
	display: inline-block;
	width: 20px; 
	height: 20px; 
	position: relative;
    top: 14px;
	font-size: 16px; 
	color: #fff; 
	line-height: 40px;
	-moz-border-radius: 50%; 
	-webkit-border-radius: 50%; 
	border-radius: 50%;
	background-color: #c6c6c6;
  	border: solid 2px #5d5d5d;
}
.form-wizard-step.activated .form-wizard-step-icon {
	background: #fff; 
	border: 2px solid #ddd; 
	color: #ddd; 
	line-height: 38px;
}
.form-wizard-step.active .form-wizard-step-icon {
	width: 20px; 
	height: 20px; 
	background: #fff; 
	font-size: 22px;
	border-radius: 50%;
	border: solid 2px #414141;
}

.form-wizard-step p { 
	font-size: 12px;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.6); 
}
.form-wizard-step.activated p { 
	color: #fff; 
}
.form-wizard-step.active p { 
	font-weight: 500;
	color: #FFFFFF; 
}

.form-wizard fieldset { 
	padding-top: 30px;
	display: none; 
	text-align: left; 
	border:0px !important
}

.form-wizard-buttons { 
	text-align: right; 
	background-color: #ededed;
	padding-top: 20px;
	padding-bottom: 20px;
	position: fixed;
	bottom: 0;
	width: 100%;
}


.form-wizard .input-error { border-color: #ddd;}

/** image uploader **/
.image-upload a[data-action] {
  cursor: pointer;
  color: #555;
  font-size: 18px;
  line-height: 24px;
  transition: color 0.2s;
}
.image-upload a[data-action] i {
  width: 1.25em;
  text-align: center;
}
.image-upload a[data-action]:hover {
  color: #ddd;
}
.image-upload a[data-action].disabled {
  opacity: 0.35;
  cursor: default;
}
.image-upload a[data-action].disabled:hover {
  color: #555;
}
.settings_wrap{
	margin-top:20px;
}
.image_picker .settings_wrap {
  overflow: hidden;
  position: relative;
}
.image_picker .settings_wrap .drop_target,
.image_picker .settings_wrap .settings_actions {
  float: left;
}
.image_picker .settings_wrap .drop_target {
  margin-right: 18px;
}
.image_picker .settings_wrap .settings_actions {
	float: left;
	margin-top: 100px;
	margin-left: 20px;
}
.settings_actions.vertical a {
  display: block;
}
.drop_target {
	position: relative;
	cursor: pointer;
	transition: all 0.2s;
    width: 250px;
    height: 250px;
    background: #f2f2f2;
    border-radius: 100%;
    margin: 0 auto 25px auto;
    overflow: hidden;
    border: 8px solid #E0E0E0;
}
.drop_target input[type="file"] {
  visibility: hidden;
}
.drop_target::before {
	content: 'Drop Hear';
	font-family: FontAwesome;
	position: absolute;
	display: block;
	width: 100%;
	line-height: 220px;
	text-align: center;
	font-size: 40px;
	color: rgba(0, 0, 0, 0.3);
	transition: color 0.2s;
}
.drop_target:hover,
.drop_target.dropping {
  background: #f80;
  border-top-color: #cc6d00;
}
.drop_target:hover:before,
.drop_target.dropping:before {
  color: rgba(0, 0, 0, 0.6);
}
.drop_target .image_preview {
  width: 100%;
  height: 100%;
  background: no-repeat center;
  background-size: contain;
  position: relative;
  z-index: 2;
}

/* Plugin Custom Stylesheet */

section.form-box{
    background: #F0EFED;
}

div.form-wizard{
    border-radius: 0;
    box-shadow: none;
    background: #F0EFED;
    overflow: hidden;
    position: relative;
}
div.colorwhite{
    background: #fff;
    margin-bottom: 80px;
}

div.form-wizard button.nextButton{
	border-radius: 0px;
	float: left;
	background-color: #303030!important;
}

div.specsSelected{
    background: #E3DFD8;
}

div.trayDiv{
    height: 350px;
    border: 1px solid grey;
    margin-top: 5%;
    padding: 5px;
    border-radius: 3px;
}

div.trayDivPage3{
    border: 1px solid grey;
    padding: 5px;
    border-radius: 0px;
}

 div.form-wizard button.prevButton{
    background: #303030 !important;
    float: right;
    border-radius: 0px;
}

i.cart{
    color: white;
    background: #46A000;
}

div.form-wizard button.orderButton{
    background: #303030!important
}

div.infodiv{
    color: white;
    padding: 0 8px;
}

p.step_indicator{
    color: #8BCA2E !important;
}

p.footertext{
    text-align: center;
    font-size: 14px;
}

i.fa.fa-check.fa-2x{
    color: #8BCA2E;
}

/*.footerpadding{
    padding-top: 1%;
    padding-bottom: 5%;
}*/

h3.weight{
	font-weight:bold;
    color: #666666;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('/images/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}

.quantity {
  position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.quantity input {
  width: 65px;
  height: 42px;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  border: 1px solid #eee;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: relative;
  height: 42px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #eee;
  width: 20px;
  text-align: center;
  color: #333;
  font-size: 13px;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: 1px solid #eee;
}

.quantity-button.quantity-down {
  position: absolute;
  bottom: -1px;
  height: 50%;
}
     
/*  .highlight
{
border:3px solid #8BCA2E ;
  border-radius: 2px;
  background: url("http://bootcampgoa.kwrk.in/drawer/wp-content/uploads/2017/04/choice-item-check.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  bottom: 0;
  right: 0;
}*/

.highlight .product-grid , .highlight.product-grid {
  	padding: 0;
    border-radius: 4px;
  	background-color: #ffffff;
  	box-shadow: 0 6px 8px 0 rgba(95, 95, 95, 0.13);
  	border: solid 1px #f2f2f2;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
    
  
/* New Styling */

input[type="radio"] {
  display: none;
}

label input[type="radio"] {
  color: #666666;
  font-size: 15px;
  font-weight: 400;
}

label input[type="radio"] + span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -1px 12px 0 0;
  vertical-align: middle;
  cursor: pointer;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.aligntext{
  color: #888 !important;
  display: table-cell;
}
.webtitle{
  color: white !important;
}

label input[type="radio"] + span {
  background-color: #FFFFFF;
  border: solid 2px #dfdfdf;
}

label input[type="radio"]:checked + span {
  background-color: #666666;
  border: solid 2px #dfdfdf;
}

label input[type="radio"] + span,
label input[type="radio"]:checked + span {
  -webkit-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.min-height {
  min-height: calc(100vh - 180px);
}
.step-section-spacer {
	margin-bottom: 20px;
}
.product-grid {
  height: 95%;
    margin-bottom: 20px;
    text-align: center;
	border-radius: 4px;
  	background-color: #ffffff;
  	border: solid 1px #f2f2f2;
}
.product-grid:hover {
	box-shadow: 0 6px 8px 0 rgba(95, 95, 95, 0.13);
}
.no-pad {
	padding: 0;
}
#traydiv, #trayconfigdiv{
  display: flex;
  flex-wrap: wrap;
  /*justify-content:space-around;*/
}
.site-header {
	padding: 0;
	background-color: #333333;
}
.site-header-wrapper {	
	height: 70px;
	display: table;
	width: 100%;
	padding: 0;
}
.site-header-wrap {
	display: table-cell;
	vertical-align: middle;
	float: none;
}
.site-header-wrap h3 {
	font-size: 20px;
  font-weight: 500;
  text-align: left;
  color: #fff;
}
.step-section {
	background-color: #fff;
}
.nav-footer {
	background-color: #ededed;
}
button.btn.btn-previous.prevButton:before {
    content: '';
    position: absolute;
    top: 7px;
    right: 0;
    width: 1px;
    height: 25px;
    background-color: #fff;
}
.summery-box {
    padding: 18px 15px;
    border-radius: 4px;
    background-color: #f8f8f8;
    position: relative;
}
.summery-icon {
  width: 19px;
  margin-right: 10px;
}
.summery-title {
  font-size: 14px;
  font-weight: 400;
  color: #666;
  padding-bottom: 20px;
  margin-bottom: 0px;
  text-transform: uppercase;
  border-bottom: solid 1px #e7e7e7;
}
.summery-typepage1 {
  font-size: 12px;
  font-weight: 700;
  color: #333333;
  line-height: 100%;
  margin-top: 20px;
}
.summery-type {
  font-size: 12px;
  font-weight: 700;
  color: #333333;
  line-height: 100%;
  margin-top: 20px;
}
.summery-text {
  font-size: 10px;
  font-weight: 400;
  color: #999999;
  margin-bottom: 5px;
  line-height: 100%;
  text-transform: capitalize;
}
.summery-subtext {
  font-size: 15px;
  font-weight: 400;
  color: #666666;
  margin-bottom: 10px;
  line-height: 100%;
  text-transform: capitalize;
}
.configdiv:before {
    content: '';
    top: 0;
    left: -15px;
    position: absolute;
    border-left: 4px solid #333333;
    height: 100%;
}
#config3:before {
    content: '';
    top: 0;
    left: -15px;
    position: absolute;
    border-left: 4px solid #333333;
    height: 100%;
}
#summarypage1{
  visibility: hidden;
}
#pageoneconf:before {
    content: '';
    top: 0;
    left: -15px;
    position: absolute;
    border-left: 4px solid #333333;
    height: 100%;
}
#config3 {
    margin-top: 20px;
}
#trayconfigdiv, #traydepthdiv, #frontfixingdiv, #otheroptionsdiv {
    /*padding: 0;*/
    /*margin-left: -15px;*/
    /*margin-right: -15px;*/
}
#trayconfigdiv label {
    font-size: 12px;
}
.form-wizard th {
    font-weight: 500;
    color: #333;
}
.form-wizard fieldset {
    th {
        font-weight: 500;
        color: #333;
    }
    td {
        color: #666666;
    }
}
.table>thead>tr>th {
    border: none;
}
.imageclass{
  margin: 0 auto;
}

/* Media Queries */
@media only screen and (max-width: 992px) {
    .summery-box {
        margin-bottom: 20px;
         position: static !important;
    }

}
@media only screen and (max-width: 767px) {
  #traydiv, #trayconfigdiv{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
  }
	.site-header-wrap {
		display: block;
	}
	.site-header-wrap h3 {
		margin-top: 20px;
	}
    .form-wizard-step p {
        font-size: 10px;
    }
    .form-wizard .btn {
        font-size: 13px;
        min-width: 80px;
        height: 30px;
        line-height: 30px;
    }
    .form-wizard-buttons {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    div.colorwhite {
        margin-bottom: 60px;
    }
    .form-wizard {
        font-size: 12px;
    }
   /* #traydiv div, #trayconfigdiv, #trayconfigdiv div, #traydepthdiv, #traydepthdiv div, #frontfixingdiv, #frontfixingdiv div, #otheroptionsdiv, #otheroptionsdiv div {
        padding: 0;
        margin: 0;
    }*/
    .product-grid {
        margin-bottom: 20px!important;
    }
    .product-grid .radio {
        margin-top: 5px!important;
        margin-bottom: 5px!important;
    }
    button.btn.btn-previous.prevButton:before {
        height: 16px;
    }
    .form-wizard h3 {
       font-size: 20px;
    }
    .form-wizard h4 {
        font-size: 18px;
    }
    .form-wizard h1, .form-wizard h2 {
        font-size: 18px;
    }
   
}



@media only screen and (max-width: 480px) {
     .form-wizard h4 {
        font-size: 11px;
    }
    .form-wizard h3{
      font-size: 12px;
    }


}