body{
		font-family: Arial,sans-serif;
		color: #787878;
   		font-size: 12px;
   		 /*border: 1px solid transparent;*/
	}
		.topStyle{
		    border-top:4px solid #7DA817;

}
	    .arrow-down {
		  width: 0; 
		  height: 0; 
		  border-left: 10px solid transparent;
		  border-right: 10px solid transparent;
		  border-top: 10px solid #787878;
		  margin-left: 49.4%;
}

.frm_primary_label{
	/*position: absolute;*/
}

/*.frm_form_field .form-field  .frm_required_field .frm_top_container{
	display: table-caption;
}*/
input[type="text"],textarea{
	margin-top: 2%;
	margin-bottom: 1%;
	border-radius: 2px;
	resize: none;
    background-color: #f9f9f9;
    border: 1px solid #ececec;
    font-family: Arial,sans-serif;
}
input[type="text"]{
	height: 35px;
}

.frm_submit{
	float: left;
}



		
		
	/*Newly modified*/
		.logoDiv{
			height: 15%;
		

		}

		/*Newly modified*/
		.imgResize{
			/*margin-top: 3%;*/
		}

.header .menu_section .navbar .navbar-collapse .navbar-nav li a
{
		font-size: 12px;
    font-weight: 400;
    color: #555;
    display: block;
    text-transform: uppercase;
    font-family: 'PT Sans',sans-serif;
    padding-bottom: 10px;
}

		/*Newly modified*/
		.navbar-default .navbar-nav>li>a:hover{
		border-bottom: 4px solid #7DA817;
		color: #7DA817;


		}

		/*Newly added*/
/*		.nav>li>a{
			padding: 20px 15px;
		}*/
		.navbar {
    	background:transparent;
    	border-bottom: 0;
    	font-family: 'PT Sans',sans-serif;
		}

		.banner{
			margin-top: -5%;
		}
		@media only screen and (max-width: 420px)  {
			
		}

	
		.flexContainer{
			display: flex;
			flex-direction:row;
		}
		.greenTitle{
			color: #7DA817;
			 margin: auto;
    		width: 100%;
		}
		.otherText{
			margin: auto;
    		width: 100%;
		}
		.inText{
			font-size:14px;
			margin-bottom:15px;
			line-height:20px;
		}
		.cc{
			float: none;
		    margin-left: auto;
		    margin-right: auto;
		}
		.addres{
		    font-size: 15px;
		    color: #555;
		    font-family: Arial,sans-serif;
		    margin-bottom: 10px;
		    font-weight: 700;
		}
		.addPara{
			font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
		}
		.adobe{
			width:20px;
			margin-right: 5px;
			/*height: auto;*/
		}
		.noBullets{
			text-decoration: none;
			list-style-type:none; 
			-webkit-margin-before: 1.5em;
    		padding-left: 0;

		}

		.levelIt{
			-webkit-margin-before: 1.5em;
    		padding-left: 0;
		}
		.back{
			background-image: url("images/skelatal_weave.png");
			border-top: 1px solid #E7E7E7;
			padding-bottom: 30px;
			padding-top: 40px;
			position: relative;
		}

		/*modified*/
		.foo{
			font-size: 16px !important;
			color:#7DA817;
			font-weight: 400 !important;
			margin-bottom: 25px;
			letter-spacing: .05em;
		}

		.con-input{
			    background-color: #f9f9f9;
    font-size: 12px;
    color: #777;
    border: 1px solid #ececec;
    font-family: Arial,sans-serif;
		}

		/*Newly added*/
		.addressP
		{
			font-style: normal;
			line-height: 20px;
			margin-bottom: 0;
		}
		
		.middleDiv
		{
			font-size: 22px;
			line-height: 24px;
			padding-top: 3%;
			padding-bottom: 3%;
		}
		/*.middleTxtDiv{
			padding-bottom: 8%;
		}*/
		/*newly added*/
		.frakt{
			font-weight: bold;
			color: #555555 !important;
			font-size: 22px;
			line-height: 24px;
			margin-top: 0 !important;
		}
		.textColor{
			color: #555555 !important;
			
		}
		.innerTextSize{
			font-size: 14px;
			line-height: 20px;
			margin-bottom: 10px;
			font-weight: 400;
		}
		.lineHeight{
			line-height: 18px;
		}
		.paraText{
			font-size: 14px;
			line-height: 20px;
		}
		.abt_sec{
			padding: 50px 0;
			/*padding-bottom: 10px;*/
			margin-top: -24px;
		}

		.leftSide{
			float: left;
			display:inline;
		}
		.boldText{
			 font-weight: bold;
			 margin-bottom: 15px;
		}
		@media only screen and (min-width: 320px) and (max-width: 768px)  {
			#red,#blue{

				margin: auto;    			
					
			}
			#logo{

				/*max-width: 30%;*/
				width: 125px;
				/*margin: auto;*/
				/*top: 50%;*/
				height: auto;
				/*margin-top: 15%;*/
				/*vertical-align: middle;*/
				/*margin-top: 10%;*/
			}

			/*Newly modified*/
			.rightSide{
				/*margin-top: 3%;*/
				height: auto;

			}
			/*Newly added*/
			.imageResize{

			width: 100px;
			
		
			}
			/*.col-sm-9{
				width: 75%;
				float: left;
			}*/
			.navbar-default .navbar-nav>li>a{
				text-align: center;

			}
			.banner{
			margin-top: -5%;
			}

			.bottomFooter{
			background-color: #B6B6B6;
			height: 20%;
			width: auto;
			}
			.bottomList{
			    list-style: disc;
			    padding: 0;
			    margin-top: 0;
	   			/*margin-left: 5%;*/
	   			/*font-size: 13px;*/
	    		/*-webkit-padding-start: 40px;*/
	    		font-family: 'PT Sans',sans-serif;
		}



		}
		.colorFooter
		{

			background-color: #B6B6B6;
			background-image: url("images/skelatal_weave.png");
			/*/height: 7%;*/
		}
		.colorFooter1{
			background-image: url("images/skelatal_weave.png");
			height: 1%;
			margin-top: -1%;
		}

		.deco{
			
			list-style-type:none; 
			
		}
		.sizeElement{
			    height: 30px;
			    width: 206px;
			    font-family: Arial,sans-serif;
			    font-size: 12px;
		}

		.sizeElementTextArea{
		    resize: none;
			width: 206px;
			color: #111;
			font-family: Arial,sans-serif;
			font-size: 12px;
		}
		.buttonElement{
			margin-top: 0;
		    padding: 2px 11px;
		    border-radius: 0;
		    /*background: #efefef;*/
		    border-color: #ccc;
		}


		/*Newly added*/
		.fooBottom{
		    padding: 0;
		    margin-left: 0;
		    line-height: 20px;
		}
		.bottomFooter{
			background-color: #B6B6B6;
			height: 8%;
		}
		.bottomList{
		    list-style: none;
		    padding: 0;
		    margin-top: 0;
   			margin-left: 5%;
   			font-size: 13px;
    		-webkit-padding-start: 40px;
    		font-family: 'PT Sans',sans-serif;
		}
		div>ul>li>a:hover{
			text-decoration: none;
			color: #474747;
		}


		.country{
			width: 20px;
			height: 20px;
			/*position: relative;*/
			top: 1px;
			border-radius: 50%;
			opacity: .2;
			transition:all .2s linear .2s;
		}
		.fooColor{
			color: white;
			display: inline-block;
		    padding: 15px 0;
    		margin-left: 10px;
        	line-height: 20px;

		}

		/*Newly added*/
		.fooPdf{
			color: #7DA817 ;
	
			text-decoration: none;
		}

		a.fooPdf:hover{
			color: #1d1d1d !important;
		}


		/*For rereranser page css*/
		.slider_section {
		    background: #fff;
		    margin-top: 20px;
		    padding-bottom: 40px;
		}

		.slider_section .main-content .slider-block {
		    height: 265px;
		    padding: 10px 20px;
		    background: #fff;
		}

		.slider_section .main-content .slider-block hr{
			margin-top: 25px;
    		margin-bottom: 55px;
		}

		.slider_section .main-content .slider-block .car-row .ref_section h4 {
		    font-size: 18px;
		    color: #555;
		    text-transform: uppercase;
		    font-family: PT Sans,Arial,sans-serif;
		    margin-top: 0;
		}

		.slider_section .main-content .slider-block .car-row .ref_section p {
			margin-bottom: 25px;
			font-size: 14px;
		}
		/*End of rereranser page css*/

		.copyright{
			float: right;
			margin-right: 20%;
			font-size: 13px;
			line-height: 19px;
		}
		.rightSide{
			float: right;
			/*margin-top: 15%;*/
			/*margin-right: 0.999%;*/
			/*padding-left: 5px;*/
			/*padding-right: 00;*/
		}
/*		.margins{
			margin-right: 5%;
		}*/
		.navbar-collapse{
			padding-bottom: 0 !important;
		}
		.padd{
			padding: 35px 0;
		}
		.hrr{
			/*margin-top: 10px;
			    margin-bottom: 20px;
    border: 0;*/
    border-top: 1px solid #eee;
    height: 0;
		}

		.textBold{
			font-weight: bold;
		}
		.box{
			    box-sizing: border-box;
		}
		.imgWrap{
		    height: 165px;
		    overflow: hidden;
		    background-repeat: no-repeat;
		    background-size: cover;
		    background-position: center center;
		    position: relative;
		}
		.leftImage{
			background-image: url("images/Faresedler.jpg");
		}
		.midImage{
			background-image: url("images/Transportdokumenter.jpg");
		}
		.rightImage{
			background-image: url("images/limfrie.jpg");
		}
		.produkter{
			margin-top: 30px;
		    border-bottom: 1px dashed #efefef;
		    margin-bottom: 12px;
		    padding-bottom: 10px;
		    font-size: 16px;
		}
	



.referanser-wrapper .banner_wrap .carousel .carousel-inner .item .slide_img {
    height: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.mapDiv{
	margin-top: 0%;
	height: 45%;
	background-color: green;
}

.textContainer{
	padding-top: 2.5%;
}


